pos/Client/Source/Zit.Client.Proxy/Service References/ZitServices/ZitServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16607/ZitServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" />
  <xs:import schemaLocation="http://localhost:16607/ZitServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:16607/ZitServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:16607/ZitServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" />
  <xs:complexType name="ResponseOfUserContextNPxa_SaA_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserContext" Namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" minOccurs="0" name="Data" nillable="true" type="q1:UserContext" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfUserContextNPxa_SaA_S" nillable="true" type="tns:ResponseOfUserContextNPxa_SaA_S" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Infos" nillable="true" type="q3:ArrayOfanyType" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="ResponseOfPOSSaleOrderModelU7vfhZf_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="POSSaleOrderModel" Namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" minOccurs="0" name="Data" nillable="true" type="q4:POSSaleOrderModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfPOSSaleOrderModelU7vfhZf_P" nillable="true" type="tns:ResponseOfPOSSaleOrderModelU7vfhZf_P" />
  <xs:complexType name="ResponseOfPOSSaleOrderDetailModelU7vfhZf_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="POSSaleOrderDetailModel" Namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" minOccurs="0" name="Data" nillable="true" type="q5:POSSaleOrderDetailModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfPOSSaleOrderDetailModelU7vfhZf_P" nillable="true" type="tns:ResponseOfPOSSaleOrderDetailModelU7vfhZf_P" />
  <xs:complexType name="ResponseOfArrayOfCF_ObjNPxa_SaA_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCF_Obj" Namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" minOccurs="0" name="Data" nillable="true" type="q6:ArrayOfCF_Obj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfCF_ObjNPxa_SaA_S" nillable="true" type="tns:ResponseOfArrayOfCF_ObjNPxa_SaA_S" />
  <xs:complexType name="ResponseOfArrayOfCF_CarrierNPxa_SaA_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCF_Carrier" Namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" minOccurs="0" name="Data" nillable="true" type="q7:ArrayOfCF_Carrier" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfCF_CarrierNPxa_SaA_S" nillable="true" type="tns:ResponseOfArrayOfCF_CarrierNPxa_SaA_S" />
  <xs:complexType name="ResponseOfInventoryTransferModelU7vfhZf_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InventoryTransferModel" Namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" minOccurs="0" name="Data" nillable="true" type="q8:InventoryTransferModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfInventoryTransferModelU7vfhZf_P" nillable="true" type="tns:ResponseOfInventoryTransferModelU7vfhZf_P" />
  <xs:complexType name="ResponseOfInvenrotyTransferDetailModelU7vfhZf_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InvenrotyTransferDetailModel" Namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" minOccurs="0" name="Data" nillable="true" type="q9:InvenrotyTransferDetailModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfInvenrotyTransferDetailModelU7vfhZf_P" nillable="true" type="tns:ResponseOfInvenrotyTransferDetailModelU7vfhZf_P" />
  <xs:complexType name="ResponseOfArrayOfCF_StoreNPxa_SaA_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCF_Store" Namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" minOccurs="0" name="Data" nillable="true" type="q10:ArrayOfCF_Store" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfCF_StoreNPxa_SaA_S" nillable="true" type="tns:ResponseOfArrayOfCF_StoreNPxa_SaA_S" />
  <xs:complexType name="ResponseOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfstring" nillable="true" type="tns:ResponseOfstring" />
  <xs:complexType name="ResponseOfArrayOfCF_SaleReturnReasonNPxa_SaA_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCF_SaleReturnReason" Namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" minOccurs="0" name="Data" nillable="true" type="q11:ArrayOfCF_SaleReturnReason" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfCF_SaleReturnReasonNPxa_SaA_S" nillable="true" type="tns:ResponseOfArrayOfCF_SaleReturnReasonNPxa_SaA_S" />
  <xs:complexType name="ResponseOfArrayOfCF_SaleSourceNPxa_SaA_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCF_SaleSource" Namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects" minOccurs="0" name="Data" nillable="true" type="q12:ArrayOfCF_SaleSource" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfCF_SaleSourceNPxa_SaA_S" nillable="true" type="tns:ResponseOfArrayOfCF_SaleSourceNPxa_SaA_S" />
</xs:schema>