pos/Client/Source/Zit.Client.Proxy/Service References/ZitServices/ZitServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16607/ZitServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" />
  <xs:import schemaLocation="http://localhost:16607/ZitServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" />
  <xs:element name="GetAppConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" minOccurs="0" name="GetAppConfigResult" nillable="true" type="q1:AppConfigClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="LoginResult" nillable="true" type="q2:ResponseOfUserContextNPxa_SaA_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAndLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAndLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="CheckAndLoginResult" nillable="true" type="q3:ResponseOfUserContextNPxa_SaA_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOSSaleOrderByOrderNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOSSaleOrderByOrderNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="GetPOSSaleOrderByOrderNoResult" nillable="true" type="q4:ResponseOfPOSSaleOrderModelU7vfhZf_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePOSOrderDetailByBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePOSOrderDetailByBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="CreatePOSOrderDetailByBarcodeResult" nillable="true" type="q5:ResponseOfPOSSaleOrderDetailModelU7vfhZf_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPOSOrder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPOSOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="CreateNewPOSOrderResult" nillable="true" type="q6:ResponseOfPOSSaleOrderModelU7vfhZf_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePOSOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" minOccurs="0" name="order" nillable="true" type="q7:POSSaleOrderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePOSOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="SavePOSOrderResult" nillable="true" type="q8:ResponseOfPOSSaleOrderModelU7vfhZf_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePOSInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" minOccurs="0" name="order" nillable="true" type="q9:POSSaleOrderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePOSInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="SavePOSInfoResult" nillable="true" type="q10:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllObj">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllObjResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="GetAllObjResult" nillable="true" type="q11:ResponseOfArrayOfCF_ObjNPxa_SaA_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCarrier">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCarrierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="GetAllCarrierResult" nillable="true" type="q12:ResponseOfArrayOfCF_CarrierNPxa_SaA_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrintCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrintCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="UpdatePrintCountResult" nillable="true" type="q13:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewTransfer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="CreateNewTransferResult" nillable="true" type="q14:ResponseOfInventoryTransferModelU7vfhZf_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateITDetailByBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateITDetailByBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="CreateITDetailByBarcodeResult" nillable="true" type="q15:ResponseOfInvenrotyTransferDetailModelU7vfhZf_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Zit.BusinessObjects.BusinessModels" minOccurs="0" name="transfer" nillable="true" type="q16:InventoryTransferModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="SaveInvTransferResult" nillable="true" type="q17:ResponseOfInventoryTransferModelU7vfhZf_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvTransferByTransferNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transferNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvTransferByTransferNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="GetInvTransferByTransferNoResult" nillable="true" type="q18:ResponseOfInventoryTransferModelU7vfhZf_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStore">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="GetAllStoreResult" nillable="true" type="q19:ResponseOfArrayOfCF_StoreNPxa_SaA_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCheckTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCheckTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="UserCheckTimeResult" nillable="true" type="q20:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="GetUserByNameResult" nillable="true" type="q21:ResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="UpdateUserResult" nillable="true" type="q22:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSaleReturnReason">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSaleReturnReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="GetAllSaleReturnReasonResult" nillable="true" type="q23:ResponseOfArrayOfCF_SaleReturnReasonNPxa_SaA_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSaleSource">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSaleSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Zit.DataTransferObjects" minOccurs="0" name="GetAllSaleSourceResult" nillable="true" type="q24:ResponseOfArrayOfCF_SaleSourceNPxa_SaA_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>